@import '../../assets/css/colors.scss';

.main-content {
    background-color: #e8e7e7;
    flex: 1 1 auto;
    min-height: 100vh;
    overflow-x: auto;
    
    hr {
        margin-bottom: 1rem;
    }
    
    main {
        padding: 1rem;

        .top {

            button.create {
                background-color: $ttt-orange;
                color: $ttt-dark-orange;
                font-weight: 600;
                float: right;
                z-index: 0;
            }
        }

    }

}