// TTT main palette
$ttt-orange: #dab162;
$ttt-white: #eee5cf;
$ttt-green: #81a78c; 
$ttt-darkgreen: #326148;
$ttt-error-bg: #ff9999;

// TTT sec palette
$ttt-dark-orange: #574400;
$ttt-darkgreen-hover: #123120;

// Misc
$frenchBlue: #0072bb;
$persianRed: #cc3333;
